<!DOCTYPE html>
<html>
    <head>
        <script src="//cdn.jsdelivr.net/pouchdb/latest/pouchdb.js"></script>
        <link rel="stylesheet" href="../styles/style.css">

        <title>Pouchy</title>
    </head>

    <body>
		<div id="pouchy">
			<h1>{{ header }}</h1>

			<h3>{{ whatToDo }}</h3>

			<div id="content-centered">

				<input v-model="name" placeholder="Full Name">

				<input v-model="partySize" placeholder="Number in Party">

				<button @click="addToDb">Add</button>

				<table>
					<tr>
						<th>{{ fullName }}</th>
						<th>{{ dateRsvpd }}</th>
						<th>{{ numInParty }}</th>
					</tr>
					<tr v-for="entry in entries">
						<td>{{ entry.fullName }}</td>
						<td>{{ entry.dateRsvpd }}</td>
						<td>{{ entry.numInParty }}</td>
					</tr>
				</table>
			</div>
		</div>
	</body>

	<script src="https://unpkg.com/vue"></script>
    <script src="../scripts/main.js"></script>
</html>